/* You can add global styles to this file, and also import other style files */
.row{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  height:auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0px;



}








