<div class="image-container" fxLayout.xs="column" fxLayout="column">

  <mat-card class="image"  fxLayout.xs="column" fxLayout="row" fxLayoutGap.xs="10px" fxLayoutGap="30px" fxFlexFill="image"
            style="box-shadow: aliceblue;box-sizing: content-box">
    <img src="./assets/images/nature1.jpg" id="image1">
    <div>
      <h1 style="font-family: arial;font-size: 40px" class="text">Loved Nature</h1>
      <p>I have seen many storms in my life. Most storms have caught me by surprise, so I had to learn very quickly
      to look further and understand that I am not capable of controlling the weather, to exercise the art of patience
      and to respect the fury of nature.</p>
    </div>

  </mat-card>

  <mat-card class="image"  fxLayout.xs="column" fxLayout="row" fxLayoutGap.xs="10px" fxLayoutGap="30px" >
    <img src="./assets/images/nature2.jpg" id="image2">
    <div>
    <h1 style="font-family: arial" class="text">Adventurous Trip</h1>
      <p> “What you’ve done becomes the judge of what you’re going to do — especially in other people’s minds.
        When you’re traveling, you are what you are right there and then.  People don’t have your past to hold
        against you.  No yesterdays on the road.”</p>
    </div>
  </mat-card>
  <mat-card class="image"  fxLayout.xs="column" fxLayout="row" fxLayoutGap.xs="10px" fxLayoutGap="30px" >

    <img src="./assets/images/wallpaper1.jpeg" id="image3">
    <h1 style="font-family: arial" class="text">Dedication</h1>
  </mat-card>
  <mat-card class="image"  fxLayout.xs="column" fxLayout="row" fxLayoutGap.xs="10px" fxLayoutGap="30px" >
    <img src="./assets/images/car1.png" id="image4">
    <p >Want to spend with machines</p>
  </mat-card>



</div>




