<div>

  <mat-card class="image"  fxLayout.xs="column" fxLayout="row" fxLayoutGap.xs="10px" fxLayoutGap="30px" >
    <img src="./assets/images/nature1.jpg">
    <p style="font-family: arial">Loved Nature</p>


    <img src="./assets/images/nature2.jpg">
    <p style="font-family: arial">Adventurous Trip</p>

    <img src="./assets/images/wallpaper1.jpeg">
    <p style="font-family: arial">Dedication</p>
    <img src="./assets/images/nature1.jpg">
    <p style="font-family: arial">Loved Nature</p>





  </mat-card>



</div>




