<div class="bgimg1" >
  <div class="caption"></div>
  <!--<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;vertical-align: inherit;">SCROLL DOWN-->
  <!--</span>-->
</div>
<div class="container">
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;"class="parallax">
    <h3 style="text-align:center;color: #ffaedc;" class="animated bounce">Parallax Demo</h3>
    <p style="color: black">Parallax scrolling is a web site trend where the background content is moved at a different speed than the
      foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere
      mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim.
      Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede,
      nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor,
      nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque
      risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id
      vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit,
      maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
  </div>
</div>
<div class="bgimg2" >
  <div class="caption" ></div>
</div>
<div>
  <div style="color:#ddd;background-image: radial-gradient(circle, #100537, #004085, #007cb0, #00b79d, #12eb56);text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>
<div class="bgimg3">
  <div class="caption">
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-image: radial-gradient(circle, #100537, #004085, #007cb0, #00b79d, #12eb56);text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>
<div class="bgimg1">
  <div class="caption"></div>
</div>
