<div>
  <h1 style="text-emphasis-color: blueviolet;font-family: Dialog;box-shadow: aqua" >VIVEK KUMAR GUPTA</h1>
  <form mat-card-title="Education" class="mat-card" >
    <p style="font-family: cursive" fxFlexAlign.xs="start" fxFlexAlign="centre">HighSchool-92%,ICSE</p>
    <p style="font-family: cursive">Inter-91%,CBSE</p>
    <p style="font-family: cursive" fxFlexAlign.xs="start" fxFlexAlign="centre">Presently pursing B.Tech from Ajay Kumar Garg Engg College,Branch-CSE,
      Session 2016-2020.

    </p>

  </form>


</div>
