<div class="contact">
  <form>
    <div class="address" style="alignment-baseline: auto;margin-top: 5%;margin: 20px" mat-card-title="Address"
         class="mat-card"
         [style.backgroundColor]="'transparent'">
      <h1 style="text-emphasis-color: white;elevation: higher;collapse: start" fxLayout.xs="column" fxLayout="row">
        Address</h1>
      <p>Jagarnathpur,Gorakhpur,Pincode-273001</p>
    </div>
  </form>

  <div style="alignment-baseline: auto;margin-top: 5%;margin: 20px" mat-card-title="Address" class="mat-card"
       [style.backgroundColor]="'transparent'">
    <h2>Email-id</h2>
    <p>viv1005ek@gmail.com</p>
  </div>

  <div style="alignment-baseline: auto;margin-top: 5%;margin: 20px" mat-card-title="Address" class="mat-card"
       [style.backgroundColor]="'transparent'">
    <span style="font-family: 'Century Schoolbook L';font-size: 25px">Phone No</span>

    <div>
      <i class="material-icons" style="font-size:36px"></i>
      <i class="fa fa-whatsapp" style="font-size:24px">9958984894</i>
    </div>
  </div>
  <div style="alignment-baseline: auto;margin-top: 5%;margin: 20px" mat-card-title="Address" class="mat-card"
       [style.backgroundColor]="'transparent'">
    <h2 style="font-family: cursive;font-size: 25px">Social Platforms</h2>
    <a href="https://www.facebook.com/profile.php?id=100009334524734">
      <i class="fa fa-facebook-official" style="font-size:48px;color:red;margin-right: 10px"></i></a>
    <a href="/home">
      <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i></a>
  </div>


</div>
