.column{
  display: flex;
flex-direction: column;
 align-items: center;
  background: darkslategray;
  box-sizing: border-box;
}
.detail{
  margin: 15px;
  box-sizing: border-box;

}
.mat-raised-button{
  width: 50%;
  align-self: center;
  color: brown;

}
